.navbar{
    height: 60px;
    background-color: aqua;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    .logArea{
        margin-right: 60px;
        font-weight: 700;
        font-size: 30px;
    }
    .linkArea{
        font-size: 18px;
        padding: 0 20px;
    }
}