.navbar{
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    .logArea{
        margin-right: 60px;
        font-weight: 700;
        font-size: 30px;
    }
    .linkwrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        .linkArea{
            font-size: 18px;
            padding: 0 20px;
            list-style: none;
            color: #515767 !important;
            .active{
                color:#1e80ff;
            }
            .default{
                color: #515767;
            }
        }
    }
  
}